.azeret-mono{
    font-family: Azeret Mono;
}
*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 38px 150px 36px 150px;
}
.nav-title{
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
}
.nav{
    list-style: none;
}
.nav-btn{
    padding: 17px 24px;
    box-sizing: border-box;
    border: 1px solid #0D1321;
    border-radius: 8px;
    opacity: 0.8;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600px;
}
/* banner section */
.banner-seteion{
    width: 100%;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 74px;
}
.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-img{
    text-align: center;
    margin-bottom: 32px;
}
.banner-content{
    text-align: center;
}
.banner-title{
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}
.banner-description{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 32px;
}
.banner-btn{
    padding: 21px 24px;
    background-color: #0D1321;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
/* first section */
#first-section{
    width: 1140px;
    height: 1230px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    margin: 0 auto 90px auto;
    padding: 80px 97px 80px 97px;
}
.main-container{
    width: 946px;
    height: 1233px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 97px 80px 97px;
}
.first-title-container{
    text-align: center;
}
.first-title{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.first-description{
    color: #0D1321;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}
.card-main-container{
    width: 946px;
    height: 336px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    margin-bottom: 32px;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 30px 0 rgba(0, 0, 0, 0.10);
}
.crad1-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.card1-content{
    width: 477px;
    height: 219px;
    margin-right: 99.99px;
}
.card1-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.card1-description{
    opacity: 0.7;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 38px;
}
.card1-btn{
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #0D1321;
    opacity: 0.7px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
}
.card1-img{
    width: 274.17px;
    height: 240px;
    margin: 0 10px;
}
.card2-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.card2-img{
    width: 223.2px;
    height: 208.85px;
}
.card2-content{
    width: 477px;
    height: 219px;
    margin-left: 100px;
}
.card2-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.card2-description{
    opacity: 0.7;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 38px;
}
.card2-btn{
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #0D1321;
    opacity: 0.7px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
}
.card3-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.card3-content{
    width: 477px;
    height: 219px;
    margin-right: 135px;
}
.card3-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.card3-description{
    opacity: 0.7;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 38px;
}
.card3-btn{
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #0D1321;
    opacity: 0.7px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
}
/* second-section */
#second-section{
    width: 1310px;
    height: 775px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto 150px auto;
}
.section2-title-container{
    text-align: center;
}
.section2-title{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.section2-description{
    opacity: 0.7;
    color: #0D1321;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
}
.video-conatiner{
    width: 1310px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.05);
    border-radius: 16px;
}
.hashimukh{
    width: 99%;
    height: 99%;
    border-radius: 16px;
}
/* third section */
#third-section{
    width: 1310px;
    height: 429px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto 110px auto;
}
.section3-title-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section3-title{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.section3-description{
    opacity: 0.7;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}
.current-container{
    display: flex;
    gap: 24px;
}
.html-container{
    padding: 40px;
    width: 364px;
    height: 200px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.html{
    margin-bottom: 24px;
}
.html-title{
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}
.html-description{
    opacity: 0.7;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.html-subtitle{
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}
.css-container{
    padding: 40px;
    width: 364px;
    height: 200px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.css{
    margin-bottom: 24px;
}
.css-title{
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}
.css-description{
    opacity: 0.7;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.css-subtitle{
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}
.js-container{
    padding: 40px;
    width: 364px;
    height: 200px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.js{
    margin-bottom: 24px;
}
.js-title{
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}
.js-description{
    opacity: 0.7;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.js-subtitle{
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}
/* fourth section */
#fourth-section{
    width: 1310px;
    height: 828px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto 50px auto;
}
.section4-title-container{
    text-align: center;
}
.section4-title{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.section4-description{
    opacity: 0.7;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.react-container{
    width: 1310px;
    height: 219px;
    display: flex;
    flex-direction: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;
}
.react{
    width: 94.78px;
    height: 108px;
    margin: auto 24px auto 0;
}
.react-title-container{
    margin: auto 0 auto 0;
}
.react-title{
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}
.react-description{
    opacity: 0.7;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.react-subtitle{
    color: #0D1321;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}
.node-container{
    width: 1310px;
    height: 219px;
    display: flex;
    flex-direction: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;
}
.node{
    width: 143.51px;
    height: 88px;
    margin: 0 24px;
}
.node-title{
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}
.node-description{
    opacity: 0.7;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.node-subtitle{
    color: #0D1321;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}
.mongo-container{
    width: 1310px;
    height: 219px;
    display: flex;
    flex-direction: flex;
    justify-content: flex-start;
    align-items:center;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;
}
.mongo{
    width: 108px;
    height: 108px;
    margin: 0px 24px;
}
.mongo-title{
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}
.mongo-description{
    opacity: 0.7;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.mongo-subtitle{
    color: #0D1321;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}
/* section five */
#section-five{
    width: 1310px;
    height: 330px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.280), rgba(0, 0, 0, 0.280)),  url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto 80px auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title{
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}
.description{
    opacity: 0.7;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}
input{
    width: 548px;
    padding: 19px 20px 19px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #ffffff;
    margin: 0 16px;
}
input::placeholder{
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    font-weight: 400;
}
button{
    padding: 15px 18px 15px 18px;
    border-radius: 8px;
    border: none;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0 16px;
}
/* footer section */
footer{
    width: 100%;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foot-title{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
}
.github{
    margin: 0 24px 0 24px;
}